body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    margin: 0;
    display: flex;
}

.container .logo img{
    width: 120px;
    height: 40px;
    margin: 5px 0 5px 200px;
}
